@charset "ISO-8859-1";

body{
    background: #045FB4;
}

#navprincipal{
    
    background-color: #ccccff;
}

li{
   /* background-color: #cccc00;*/
    padding: 10px;
    font-size: 20px;
    /*para hacer una equiqueta block a inline, y que vaya seguido*/
    display:inline;
}

#eltitulo{
                
                font: bold 36px Verdana,Geneva, sans-serif;
              
    			color: #093962;
  
  				text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;
                
                
                
}

#cabezaLista{
	
	background-color:#519A9A;
	float:left;
}

#nombreLista{
	font-size:20px;
}

#pitufo{
	width:80px;
	height:80px;
}

#fotoFondo{
	width:600px;
	height:500;
}

#losh3{
	text-align:right;
	margin-right:15px;
	
}

#formOPC{
	
	playing:  inline;
}

.log{
border: 1px solid BLACK;
  
}
.objetos{
	
	font-size:15px;
	margin-left:0px;;
	display: block;
}